- bundleName = 'ios'

include blocks/page
    block extends head
    block extends body
        .teaser
            .teaser__container

                include blocks/header
                    block extends content
                        include blocks/logo
                        h1.teaser__title.header__text Fenegram


                include blocks/handy

                .teaser__button
                    .button
                        .button__text Download

                .teaser__content
                    p.teaser__text.
                        Fenergram is a cloud-based mobile messaging
                        app for Fenerbahce fans around the world
                        with a focus on security and speed.
                    #slide-dots.teaser__dots
                    .teaser__markets
                        a.market.market_play(href='https://appmetrica.yandex.com/serve/960962922887021660', target='_blank')
                        a.market.market_appstore(href='#!store.apple.com')
        include  blocks/footer
