- bundleName = 'ios'
- var scrollData = [ { title: 'Fenegram bulut teknolojisi tabanlı yeni nesil bir mesajlaşma uygulamasıdır.', subtitle: 'Fenerbahçe için özel tasarlanmış bu uygulamayla hem Fenerbahçe ve taraftarlarıyla bağlantıda kalacaksın, hem de onlarla eğlenip dünyanın en hızlı ve 3G dostu mesajlaşma uygulamasını kullanacaksın', picture: 'messenger' }, { title: 'Senin Fenerbahçen', subtitle: 'Her zaman takımınınla iletişimde ol', picture: 'news' }, { title: 'Senin taraftar arkadaşların', subtitle: 'Diğer taraftarlarla bağlantıda ol; onlarla her şeyi paylaş ve konuş', picture: 'chat' }, { title: 'Eğlen', subtitle: 'Arkadaşların yarışmalara katıl. Hem eğlen, hem kazan', picture: 'selfie' } ]

include blocks/page
    block extends head
    block extends body
        .teaser
            .teaser__container

                include blocks/header
                    block extends content
                        include blocks/logo
                        h1.teaser__title.header__text Fenegram

                include blocks/phone
                    block extends screen
                        include blocks/carousel

                .teaser__button
                    a.button(href='https://appmetrica.yandex.com/serve/960962922887021660', target='_blank')
                        .button__text İndir

                .teaser__content
                    p.teaser__text.

                    //#slide-dots.teaser__dots
