- bundleName = 'ios.boarding'
- var scrollData = [{ title: 'İhtiyacınız olan her yerde', subtitle: 'İster cep telefonunda, ister masa üstünde ve hatta çok yakında akıllı saatlerinizde', picture: 'cloud' }, { title: '3G dostu', subtitle: 'Mesajlarınız için internet kotanızı boş yere bitirmeyin', picture: 'infinity' }, { title: 'Hızlı', subtitle: 'Dünyanın en hızlı mesajlaşma teknolojisiyle anında mesajlaşın, anında senkronize olun', picture: 'speed' }, { title: 'Senin Fenerbahçen', subtitle: 'Her zaman takımınla iletişimde ol', picture: 'news' }, { title: 'Senin taraftar arkadaşların', subtitle: 'Diğer taraftarlarla bağlantıda ol; onlarla her şeyi paylaş ve konuş', picture: 'chat' }, { title: 'Eğlen', subtitle: 'Arkadaşların ile yarışmalara katıl. Hem eğlen, hem kazan', picture: 'selfie' }]

include blocks/page
    block extends head
    block extends body
        .teaser
            .teaser__container

                include blocks/handy

                .teaser__content

                    h1.teaser__title Fenegram

                    p.teaser__text

                    //.teaser__button
                    //    .button
                    //        .button__text Hemen Başla

