.footer
    include logo-alliance
    block footer
        .footer__text.
            Fenergram is a cloud-based mobile messaging app for Fenerbahce fans
            around the world with a focus on security and speed.
