html
    head
        title Fenegram
        script(src='/#{bundleName}.bundle.js')
        link(rel='stylesheet', href='/#{bundleName}.css')
        meta(name='viewport', content='width=700px, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        block head
    body.page
        block body
