html
    head
        title Fenegram
        script(src='#{bundleName}.bundle.js')
        link(rel='stylesheet', href='/#{bundleName}.css')
        meta(name='viewport', content='width=700px')
        block head
    body.page
        block body
