html
    head
        title Fenegram
        script(src='#{bundleName}.bundle.js')
        link(rel='stylesheet', href='#{bundleName}.css')
        block head
    body.page
        .page__inner
            block body
