.handy {
    background-repeat: no-repeat;
    width: 444px;
    height: 698px;
    position: relative;
}

.handy_type_desktop, .handy_type_andorid {
    background-image: url('/public/img/phone.png');
    @deviceWith: 314px;
    .handy__screen {
        position: absolute;
        right: 66px;
        top: 60px;
        width: @deviceWith;
        height: 450px;
    }
    .scroll__elem {
        width: @deviceWith;
    }
}
