@logoWith: 252px;

.logo-app {
    width: @logoWith;
    height: 252px;
    background: url('/public/img/logo-app.jpg') 50% 50% no-repeat;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    float: left;
}
