.teaser {
    padding: 240px 80px;
    background: url('/public/img/teaser.jpg') 50% 50% no-repeat;
    background-size: cover;
    height: 1300px;
    box-sizing: border-box;
    position: relative;
}

.teaser__text {
    padding: 50px 70px 50px @logoWith + 70px;
    color: #fff;
    max-width: 760px;
    box-sizing: border-box;
}
