@import 'handy';

.teaser {
    padding: 240px 80px;
    background: url('/public/img/teaser.jpg') 50% 50% no-repeat;
    background-size: cover;
    height: 1300px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.teaser__text {
    padding: 50px 70px 10px @logoWith + 70px;
    color: #fff;
    max-width: 760px;
    box-sizing: border-box;
}

.teaser__handy {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 60px;
}

@media (max-width: @widthDesktop) {
    .teaser__handy {
        position: relative;
    }
}
